
.netlify-contact-form
  input,
  textarea
    width: 100%
    box-sizing: border-box
    border: 2px solid var(--alt-accent-content)
    background-color: var(--main-bg-content)
    padding: 1% 1%
  button
    background-color: var(--alt-accent-content)
    width: 100%
    color: var(--main-bg-content)
    padding: 1%
    text-decoration: none
    cursor: pointer
    border: none