.post-navigator
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  list-style: none
  padding: 0
  margin-left: 0px
  a
    color: var(--alt-accent-content) !important

.post-nav
  text-decoration: none

.nav-container
  display: inline-block

.arrow
  vertical-align: middle
  padding-right: 10px
  padding-left: 10px
  text-align: left