
.post-summary-subtitle
  text-transform: uppercase;
  color: var(--main-fg-accent);

.post-summary-link
  box-shadow: none;
  color: var(--main-fg-content) !important;
  &:hover
    text-decoration: underline;